<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    
  
      <form id="uploadImg">
        <input type="file" name="image" id="imgFile" accept="image/*" />
        <input type="submit" />
      </form>
      <form id="addTransforms">
        <input type="text" name="transforms" />
        <input type="submit" />
      </form>
     <div id='response'></div>
  
  </body>
  <script>
   $(document).ready(function() {
    // $("#imgFile").change((e)=>{
    //   var formData = new FormData($("#uploadImg")[0]);
      
    //   console.log("123",.files[0])
    // })
    mainID= ""
    $("#addTransforms").submit((e)=>{
      e.preventDefault();
      var formData = new FormData(document.getElementById("addTransforms"));
      formData.append("imageID",imageID)
      $.ajax({
            type: 'POST',
            url: '/applyTransformations',
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');
            },      
     })
    });
    $("#uploadImg").submit((evt)=>{   

      evt.preventDefault();
      var formData = new FormData(document.getElementById("uploadImg"));
        // $("#uploadImg"));
      $.ajax({
          url: 'fileUpload',
          type: 'POST',
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          success: function (response) {
        
            alert(response.path);
            mainID = response.mainID
            // imagePath = response;
            console.log(response)
          }
      });

      return false;

      });
   });
  </script>
</html>